version: "3.8"

services:
  nats:
    image: nats:2.10
    container_name: nats
    ports:
      - "4222:4222"
      - "8222:8222"
    command: ["-c", "/etc/nats/nats.conf"]
    volumes:
      - ./nats.conf:/etc/nats/nats.conf
